body {
    background-color: black;
    color: white;
    font-family: monospace;
}
.table-rank {
    text-align: right;
}
h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}
table,
tr,
td {
    border: none;
}

td {
    padding: 0px 4px;
}

table tr:nth-child(even) {
    background-color: #383838;
}
