<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SSRPG Leaderboards</title>
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <%- include('nav', { navItems }) %>
  <h1>Events</h1>
  <div class="events-list">
    <% events.forEach((events, index)=> { %>
    <a href="<%= events.href %>"><%= events.name %> - <%= events.date %></a>
    <% }); %>
  </div>

  </div>

</body>

</html>