<div id="logo"><a href="/"><img src="https://stonestoryrpg.com/capsule_b_231x87.png" alt="Stone Story RPG"></a></div>
<nav>
  <div class="nav-section">
    <% navItems.forEach((item, index)=> { %>
    <a href="<%= item.href %>" class="nav-item"> <%= item.name %> </a>
    <% if (index < navItems.length - 1) { %>
    <div class="seperator">|</div>
    <% } %>
    <% }); %>
  </div>
  <div class="nav-section">
    <a href="/events" class="nav-item">Events</a>
  </div>
</nav>