:root {
    --cyan: #00ffff;
    --yellow: #ffff00;

    --dark-grey: #171717;
    --light-grey: #2e2e2e;
}

body {
    background-color: black;
    color: #bdb7af;
    font-family: monospace;

    margin: 0;
    font-size: 14px;
}

h1, h2, h3 {
    text-align: center;
    color: white
}

/* LEADERBOARD */
.leaderboards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}


table {
    border-collapse: collapse;
    margin: auto;
}

table,
tr,
td {
    border: none;
    color: white;
}

td {
    padding: 0px 4px;
}

table {
    min-width: 350px;
}

table tr:nth-child(odd):not(:first-child) {
    background-color: var(--dark-grey);
}

table tr:nth-child(even):not(:first-child) {
    background-color: var(--light-grey);
}


a {
    color: #b0b0b0;
}

a:hover {
    color: white;
}

a:visited {
    color: #707070;
}

p {
    text-align: center;
}

/* NAV */

#logo {
    margin: 2rem auto;
    width: fit-content;
}

nav {
    width: 95%;
    margin: auto;
}

.nav-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

nav .seperator {
    margin: 0 0.5rem;
    margin-top: 0.5rem;
}

.nav-item {
    display: inline;
    white-space: nowrap;
    margin-top: 0.5rem;
}

/* Events list */
.events-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.events-list a {
    width: fit-content;
    margin: 0.25rem auto;
}