body {
    background-color: black;
    color: #bdb7af;
    font-family: monospace;
}

.table-rank {
    text-align: right;
}

h1, h2, h3 {
    text-align: center;
    color: white
}

table {
    border-collapse: collapse;
    margin: auto;
}

table,
tr,
td {
    border: none;
    color: white;
}

td {
    padding: 0px 4px;
}

table tr:nth-child(even) {
    background-color: #383838;
}

a {
    color: #b0b0b0;
}

p {
    text-align: center;
    font-size: 14px;
}

#logo {
    margin: 2rem auto;
    width: fit-content;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.nav-item {
    display: inline;
}

.nav-section {
    width: fit-content;
    display: flex;
    flex-direction: column;
}